footer
	height: 200px
	background: url(../img/footer-img.jpg) center 30%
	background-size: cover
	box-shadow: 0px 0px 20px #3d3d3d
	position: relative


.logo
	float: left
	margin: 60px 0 0 50px

	img
		+size(64px)

nav
	float: left
	margin: 72px 0 0 30px
	background: rgba(255,255,255,0.6)
	padding: 7px 0px 5px 20px
	border-radius: 5px


	a
		display: inline-block
		margin-right: 20px
		font:
			size: 18px
			family: "Fira Sans"
			weight: 400
		color: $link-color

#credits
	position: absolute
	right: 0
	bottom: 0
	padding: 5px 10px
	background: rgba(255,255,255,0.6)
	border-radius: 10px 0 0 0
	color: black
	font:
		family: "Open Sans"
		weight: 400
		size: 20px